* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1 0 26%; /* explanation below */
  margin: 5px;
  height: 100px;
  background-color: blue;
  min-width: 300px;
  max-width: 320px;
  height: 850px;

  display: flex;
  flex-direction: column;
}
.childFlex {
  flex: 33%;
  height: 300px;;
}