* {
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 33.33%;
  height: 850px;
  overflow: hidden;
  
}
.childFlex {
  width: 320px;
  height: 33.33%;
  /* padding: 10px; */
  margin: 10px;
  
  
  box-sizing: border-box;
}
.ytplayer {
 
  width: 320px;
  height: 220px;
  max-width:320px ;
  min-width: 320px ;
}

@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}

